/* colour reference chart 
comment     colour      desc
link        #28A6B7     link colour
bgm         #F0F4F4     background manip colour
hov         #1D3437     hover colour

*/


	html {
		margin:0;
		padding:0;
		color:#323232;
		background:#FFFFFF;	/* fond blanc pour les PDF */
		font-family:"Open Sans", helvetica, arial, verdana;
		font-size: 0.9em;
		text-align: justify;
		width: 100%;
		height: 100%;
	}	
	body{
		min-height: 100%;
		margin: 0;
		padding: 0;
		border: 0;
	}
	#wrap {	/* la zone globale */
		width:1000px;
		position: relative;
		margin:0 auto;
		/*box-shadow: 4px 4px 10px #D4D4D4;
  		-webkit-box-shadow: 4px 4px 10px #D4D4D4;
		box-shadow: 4px 4px 10px #D4D4D4;*/
	}
	#container_main_sidebar {	/* la zone pour les 2 colonnes main et sidebar; cette zone sert à faire en sorte que ces 2 colonnes soient toujours de même hauteur */
		width:1000px;
		position: relative;
		margin:0 auto;
	}
	/* background container */
	.backgrounds { 
		position:absolute;
		width:100%;
		height:100%;
	}
	/* background columns */
	.backgrounds .main {
		height:100%;
		background:#FFFFFF;
	}
	.backgrounds .sidebar {
		height: 100%;
		background: #F7F7F7;	/* fond gris très clair */
	}
	.main {	/* la zone de texte */
		float: left;
		position: relative;
		width:100%;
		padding-left:20px;
		padding-right:20px;
		padding-bottom: 0;
	}

	/* les menus horizontaux */
	#wrapdanswrap {	/* le contenant global des menus horizontaux */
	    display: none;
		padding:0px 0px;
		background:#FFFFFF url(illustrations/tous/bandeau.png);
	}
	/* le div pour les logos à n'afficher qu'à l'impression */
	#logos_print {
		display: none;
	}
	#header {	/* le titre (ex. : tutoriel QGIS 2) */
    	padding:15px 10px;
		color: #FFFFFF;
	}
	#nav {	/* les menus eux-mêmes */
		padding:2px 0px;
		background: rgba(25,25,25,0.5);
	}
	#nav ul {
		margin:0;
		padding-top: 5px;
		padding-bottom: 5px;
		padding-left: 0px;
		padding-right: 0px;
		list-style:none;
	}
	#nav li {
		display:inline;
		margin:0;
		padding:8px;
	}
	#nav li a {	/* pour les liens du menu horizontal */
		font-size: 1.1em;
        color: #FFFFFF;
        text-decoration: none;
	}
	#nav li:hover {	/* pour les liens du menu horizontal */
		color: #191919;
		background-color: #EFEFEF;
	}
	#nav li:hover a {	/* pour les liens du menu horizontal */
		color: inherit;
	}
	
	/* les menus sur la droite (liste des chapitres) */
	.sidebar {
	    display: none;
		float: left;
		position: relative;
		width:275px;
		padding-left:10px;
		padding-right:10px;
		padding-bottom: 0;
	}
	#sidebar a {	/* pour les liens du menu vertical */
      color:#2DAB0B;
      text-decoration: none;		
	}
	#sidebar a:hover {	/* pour les liens du menu vertical */
      color:#FF7D00;
	}

	/* pied de page */
	#footer {
		clear: both;
		padding: 5px 10px;
		background: #FFFFFF;
		font-size: 0.8em
	}
	#footer p {
		margin:0;
   	}
	#footer a {	/* pour les liens du pied de page */
      color: #646464;
   	}
   #footer a:hover {	/* pour les liens du pied de page */
      color: #000000;
   	}
	* html #footer {
		height:1px;
	}
	
	/* images et figures */
	img {	/* par défaut, avec une ombre */
		padding-left: 0px;
		color:#FF00DB;	/* quand une image est prévue mais ne s'affiche pas, affiche le texte en rose */
		border: none;
		box-shadow: 2px 2px 4px #ccc;
   	    -webkit-box-shadow: 2px 2px 4px #ccc;
   	    box-shadow: 2px 2px 4px #ccc; 
	}
	img.droite {	/* image à droite, avec texte autour, et pas d'ombre */
		float: right;
		padding-left: 10px;
		color:#FF00DB;	/* quand une image est prévue mais ne s'affiche pas, affiche le texte en rose */
		border: none;
		box-shadow: none;
		-webkit-box-shadow: none;
   	    box-shadow: none;
   }
   img.gauche {	/* image à droite, avec texte autour, et pas d'ombre */
		float: left;
		padding-right: 10px;
		color:#FF00DB;	/* quand une image est prévue mais ne s'affiche pas, affiche le texte en rose */
		border: none;
		box-shadow: none;
		-webkit-box-shadow: none;
   	    box-shadow: none;
   }
	img.noshadow {	/* sans ombre */
		padding-left: 0px;
		color:#FF00DB;	/* quand une image est prévue mais ne s'affiche pas, affiche le texte en rose */
		border: none;
		box-shadow: none;
		-webkit-box-shadow: none;
   	    box-shadow: none;
	}
	.table_logos {
	    display: none;
	}
	img.logo {
		padding-top: 10px;
		padding-bottom: 10px;
		padding-left: 0;
		padding-right: 10px;
		color:#FF00DB;	/* quand une image est prévue mais ne s'affiche pas, affiche le texte en rose */
		border: none;
		box-shadow: none;
		-webkit-box-shadow: none;
   	    box-shadow: none; 
	}
	/* pour les figures */
	figure.image {
   	width: 100%;
	}
	figure {
		text-align: center;
    	display: table;
    	max-width: 100%;
  		border: none;
  		margin: 15px;
	}
	figure.gauche {
		text-align: left;
    	display: table;
    	max-width: 100%;
  		border: none;
  		margin: 15px;
	}
	/* les légendes des figures */
	figcaption {
  		text-align: center;
  		font-style: italic;
  		font-size: smaller;
  		text-indent: 0;
	}
	/* quand on veut afficher l'icône d'un outil avec après du texte sur plusieurs lignes */
	img.icone {
		padding:0;
		float: left;
		margin-right: 7px;
		border: thin solid;
		border-color: silver;
		box-shadow: none;
		-webkit-box-shadow: none;
   	    box-shadow: none;
	/* quand on veut afficher l'icône d'un outil avec avant ou après du texte sur une seule ligne */
	}
	img.iconemid {
		padding:0;
		vertical-align: middle;
		margin: 5px;
		border: thin solid;
		border-color: silver;
		box-shadow: none;
		-webkit-box-shadow: none;
   	    box-shadow: none;
	}

	/* Pour afficher une image quand on passe la souris sur un texte (capture d'écran) */
	/* quand on veut que l'image s'affiche au-dessous du texte */
	.thumbnail_bottom{
		color: #323232;
		position: relative;
		z-index: 0;
	}
	.thumbnail_bottom:hover{
	    display: none;
	    color: /*hov*/#1D3437;
		background-color: transparent;
		z-index: 50;
	}
	.thumbnail_bottom span{ /*CSS for enlarged image when invisible (without hover)*/
	    display: none;
		position: absolute;
		background-color: white;
		padding: 0;
		top: 20px;
		left: -1000px;
		border: 1px dashed gray;
		visibility: hidden;
		color: black;
		text-decoration: none;
	}
	.thumbnail_bottom span img{ /*CSS for enlarged image*/
	    display: none;
		border-width: 0;
		padding: 5px;
	}
	.thumbnail_bottom:hover span{ /*CSS for enlarged image on hover*/
	    display: none;
		visibility: visible;
		top: 20px;
		left: 0; /*position where enlarged image should offset horizontally */	
	}
	/* quand on veut que l'image s'affiche au-dessus du texte (bas de page) */
	.thumbnail_top{
	    display: none;
		color: /*hov*/#1D3437;
		border-bottom: 1px dotted;
		position: relative;
		z-index: 0;
	}
	.thumbnail_top:hover{
	    display: none;
	    color: /*hov*/#1D3437;
		background-color: transparent;
		z-index: 50;
	}
	.thumbnail_top span{ /*CSS for enlarged image when invisible (without hover)*/
	    display: none;
		position: absolute;
		background-color: white;
		padding: 0;
		bottom: 20px;
		left: -1000px;
		border: 1px dashed gray;
		visibility: hidden;
		color: black;
		text-decoration: none;
	}
	.thumbnail_top span img{ /*CSS for enlarged image*/
	    display: none;
		border-width: 0;
		padding: 0;
	}
	.thumbnail_top:hover span{ /*CSS for enlarged image on hover*/
	    display: none;
		visibility: visible;
		bottom: 20px;
		left: 0; /*position where enlarged image should offset horizontally */	
	}

	/* tableau */
	table{
	   border-collapse: collapse;
	   font-size: 1em;
	}
	caption{
		font-size: 0.9em;
		font-style: italic;
		caption-side: bottom;
	}
	th{
		color: white;
	   background-color: #28A6B7;
	   padding-top: 3px;
	   padding-bottom: 3px;
	   padding-left: 10px;
	   padding-right: 10px;
	}
	th.clair{
		color: white;
	   background-color: #59CFDF;
	   padding-top: 3px;
	   padding-bottom: 3px;
	   padding-left: 10px;
	   padding-right: 10px;
	   text-align: center;
	}
	th.centre{
		color: white;
	   background-color: #28A6B7;
		padding-top: 3px;
	   padding-bottom: 3px;
	   padding-left: 10px;
	   padding-right: 10px;
	   text-align: center;
	}
	td{
		padding-top: 3px;
	   padding-bottom: 3px;
	   padding-left: 10px;
	   padding-right: 10px;
	}
	td.centre{
		padding-top: 3px;
	   padding-bottom: 3px;
	   padding-left: 10px;
	   padding-right: 10px;
	   text-align: center;
	}
	td.centreclair{
		background-color: #EAF5F6;
		padding-top: 3px;
	   padding-bottom: 3px;
	   padding-left: 10px;
	   padding-right: 10px;
	   text-align: center;
	}
	td.centreclairalt{
		background-color: #B2DFE4;
		padding-top: 3px;
	   padding-bottom: 3px;
	   padding-left: 10px;
	   padding-right: 10px;
	   text-align: center;
	}
	tr{
		color: black;
		background-color: #DFF4F6;
	}
	tr.alt{
		color: black;
		background-color: #9CDDE4;
	}

	/* différents styles de listes */
	OL.withroman {	/* liste numérotée avec chiffres romains */
		list-style-type: upper-roman; 
	}
	OL.witharabic { 	/* liste numérotée avec chiffres arabes */
		list-style-type: arabic-numbers;
		padding: 0 0 0 15px;
	}
	UL.listetitres{	/* liste utilisée en début de chapitre, pour les grands titres */
		list-style-type: none;
	}
	UL.listesoustitres{	/* liste utilisée en début de chapitre, pour les sous-titres */
		list-style-type: none;
		font-size: 15px;
		font-style: italic;
	}
	LI.espace{
		margin-top: .7em;
		margin-bottom: .7em;
	}
	UL.espace{
		margin-top: .7em;
		margin-bottom: .7em;
	}
	LI.index_01{	/* liste pour l'index : lettres */
		list-style-type: none;
	}
	LI.index_02{	/* liste pour l'index : termes */
		list-style: none;
   	text-indent: -.7em;
		margin: -10px;
	}
	li.index_02:before{	/* pour la puce de cette liste */
		content: '\002022';
		color: lightgray;
		font-size: 1.7em;
		padding-right: 0.25em;
		position: relative;
		top: 0.2em;
	}
	LI.index_03{	/* liste pour l'index : termes encore un niveau dessous */
		list-style-type: none;
	}
	UL.index{
		margin-top: 0em;
	}
	#index_sommaire ul{	/* pour les lettres tout en haut de l'index qui renvoient plus bas */
		margin:0;
		padding:5px;
		list-style:none;
	}
	#index_sommaire li {
		display:inline;
		margin:0;
		padding:5px;
	}
	LI.plandet{
		margin-bottom: 1em;
		padding-bottom: 1em;
	}
	
	/* différents styles d'hyperliens */
	a {		/* les hyperliens s'affichent en bleu */
		color: /*link*/#28A6B7;
    	text-decoration: none;
	}
	a:hover {	/* et en orange quand on passe la souris au-dessus */
		color:#FF7D00;
	}
	a.grostitre{
		color: white;
		margin:0;
	    font-weight:normal;
	    font-size: 2em;
	}
	a.titre:hover {	/* sauf quand c'est un titre */
		color:#1F9DAA;
	}
	a.noir:hover {
		color: red;
	}
	a.ext {	/* les hyperliens externes en gris */
		color:#646464;
		border-bottom: 1px dotted;
	}
	a.ext:hover {
		color: #FF7D00;
	}
	a.ext:after {  /* une icône différente pour les liens externes */
  		content: "\0000a0[\2197]";
	}
	a.hautpage {
	    visibility: hidden;
		display: block;
		padding-top: 10px;
		padding-bottom: 10px;
	}
	a.suiv {
	    visibility: hidden;
		float: right;
	}
	a.suiv:after {
		content: "\0000a0\2192";
	}
	a.prec {
	    visibility: hidden;
		float: left;
	}
	a.prec:before {
		content: "\2190\0000a0";
	}

	/* texte mis en évidence (donnees, numeros...) */
	em.data { 
		color: #18656F;
		font-weight: bold;
		font-style: normal;
		 }
	em.numero {
		color: red;
		font-weight: bold;
		font-style: normal;
		font-size: 1.1em;}

	/* différents styles de paragraphes */	
	p.manip{
		padding-left: 5px;
		padding-right: 5px;
		padding-top: 1px;
		padding-bottom: 1px;
		border-left: 6px;
		border-left-style: solid;
		border-left-color: #1F9DAA;
		background-color: /*bgm*/#F0F4F4;
	}
	p.note{
		font-size: 0.9em;
		font-style: italic;
	}
	p.attention{
		color:#18656F;
		font-weight: bold;
	}
	p.answer {
		font-style: italic;
		background-color: #FFDBDE;
	}
	p.bonus_question {
		font-size: 1.1em;
		color: #A81111;
		font-weight: bold;
	}
	p.code {
		font-family: courier;
	}

	
	/* syles de div */
	div.manip{
		padding-left: 10px;
		padding-right: 5px;
		padding-top: 1px;
		padding-bottom: 1px;
		border-left: 6px;
		border-left-style: solid;
		border-left-color: /*link*/#28A6B7;
		background-color: /*bgm*/#F0F4F4;
	}
	div.bonus {
		background-color: #FFDDDD;
		padding-left: 10px;
		padding-right: 5px;
		padding-top: 1px;
		padding-bottom: 1px;
	}
	
	/* un style de barre horizontale */
	hr.simple {
        width:100%;
        height:1px;
        margin-bottom:5px;
        margin-top: -5px;
        padding:0;
        background-color:#191919;
        border:0;
        }
        
    /* pour la couverture des PDF */   
    hr.cover {
        width:100%;
        height:1.5px;
        margin-bottom:5px;
        margin-top: 5px;
        padding:0;
        background-color:darkgray;
        border:0;
        }

	/* les titres */
	h1 {
		font-variant:small-caps;
		color: /*link*/#28A6B7;
		font-weight:bold;
		font-size:1.5em;
		margin:1em 0 1em;
	}
	h2 {
		font-variant:small-caps;
		color: /*link*/#28A6B7;
		font-weight:bold;
		font-size:1.5em;
		margin:1em 0 1em;
	}
	h3 {
		color: /*link*/#28A6B7;
		font-weight:bold;
		font-size:1.3em;
		margin:0 0 1em;
		padding-top: 40px;
		border-bottom: 2px;
		border-bottom-style:solid;
		border-bottom-color:/*link*/#28A6B7;
	}
	h4 {
		color: /*link*/#28A6B7;
		font-style:italic;
		font-weight: normal;
		font-size:1.2em;
		margin:0 0 1em;
		padding-top: 10px;
	}
	#h4 li {
	}
	#h4 ul {
		list-style-type: none;
	}
	#h2Verti {
	font-weight:bold;
		font-size:1.2em;
		margin:0 0 1em;
		padding-left:10px;
	}
	

    
   /* pour le système de questions-réponses */
	div.question { position: relative; }
	input[type=checkbox] {
	   position: absolute;
	   top: 0;
	   left: 0;
	   width: 10%;
	   height: 10%;
	   opacity: 0;
	}
	label {
		cursor: pointer;
		position: relative;
		display: block;
		padding-left: 30px; /* espacement entre le pointeur et le texte de la question */
	}
	label:before {
		content: "";
		position: absolute;
		width: 0;
		height: 0;
		top: 50%;
		left: 10px; /* décalage du pointeur vers la droite */
		border-left: 7px solid black; /* apparence du pointeur */
		border-top: 7px solid transparent;
		border-bottom: 7px solid transparent;
		margin-top: -7px;
	}
	input[type=checkbox]:checked ~ p label:before {
		border-left: 7px solid transparent;
		border-top: 7px solid black;
		border-right: 7px solid transparent;
		margin-left: -7px;
		margin-top: -7px
	}
	p.reponse {
		/*max-height: 0;*/
		/*overflow: hidden;*/
		padding-left: 5px;
		padding-bottom: 10px;
		font-style: italic;
	}
	input[type=checkbox]:checked ~ p {
		max-height: 600px; /* la hauteur max que pourra prendre la réponse */
	}
	
	/* pour les smartphones */
    @media all and (max-device-width:480px) {
        /* pour que le contenu se redimensionne à la taille de l'écran */
        #wrap{width: auto}
        #container_main_sidebar{width: auto}
        .main{width: auto; background: #FFFFFF}
        .backgrounds{width: auto}
        /* on n'affiche plus le menu de droite avec le plan */
        .sidebar {display:none;}
        /* pour que les images se redimensionnent à la taille de l'écran */
        img {max-width: 100% !important; height: auto;}
        /* les icônes des outils ne doivent pas se redimensionner */
        img.icone {width: 30px !important;}
        img.iconemid {width: 30px !important;}
        /* l'icône creative commons du pied de page ne doit pas se redimmensionner */
        #footer img{ width: 80px !important}
        /* on n'affiche pas les images qui s'affichent normalement en survolant le texte */
        .thumbnail_bottom span{display: none;}
        .thumbnail_top span{display: none;}
        .thumbnail_bottom{color: #323232; border-bottom: none; pointer-events: none; cursor: default; font-weight: bold;}
        .thumbnail_top{color: #323232; border-bottom: none; pointer-events: none; cursor: default; font-weight: bold;}
        /* pour couper les mots trop longs */
        body {overflow-wrap: break-word; word-wrap: break-word; -ms-hyphens: auto; -moz-hyphens: auto; hyphens: auto;}
        /* pour le menu horizontal */
        #nav li {display: block; text-align: center; font-size: 6vw;}
        #nav ul li, #nav ul li a {width: 100%;}
        #nav li:hover {display: block;}
        #wrapdanswrap { background:#FFFFFF url(illustrations/tous/bandeau.png); background-size: cover;}
        /* taille de police pour le titre */
        a.grostitre {font-size: 8vw;}
        /* taille de police pour le plan détaillé */
        li.plandet {font-size: 3vw;}
        /* taille de police pour les liens chapitre précédent et suivant */
        a.prec, a.suiv {font-size: 6vw;}
    }
    
    /* pour les tablettes */
    @media (min-device-width: 481px) and (max-device-width:780px) {
        /* pour que le contenu se redimensionne à la taille de l'écran */
        #wrap{width: auto}
        #container_main_sidebar{width: auto}
        .main{width: auto; background: #FFFFFF}
        .backgrounds{width: auto}
        /* on n'affiche plus le menu de droite avec le plan */
        .sidebar {display:none;}
        /* pour que les images se redimensionnent à la taille de l'écran */
        img {max-width: 100% !important; height: auto;}
        /* les icônes des outils ne doivent pas se redimensionner */
        img.icone {width: 30px !important;}
        img.iconemid {width: 30px !important;}
        /* l'icône creative commons du pied de page ne doit pas se redimmensionner */
        #footer img{ width: 80px !important}
        /* on n'affiche pas les images qui s'affichent normalement en survolant le texte */
        .thumbnail_bottom span{display: none;}
        .thumbnail_top span{display: none;}
        .thumbnail_bottom{color: #323232; border-bottom: none; pointer-events: none; cursor: default; font-weight: bold;}
        .thumbnail_top{color: #323232; border-bottom: none; pointer-events: none; cursor: default; font-weight: bold;}
        /* pour couper les mots trop longs */
        body {overflow-wrap: break-word; word-wrap: break-word; -ms-hyphens: auto; -moz-hyphens: auto; hyphens: auto;}
        /* pour le menu horizontal */
        #nav li {padding-left: 3px; font-size: 3vw;}
        #nav li {padding-right: 3px;}
        #nav li a {font-size: vw;}
        /* taille de police pour le titre */
        a.grostitre {font-size: 5vw;}
        /* taille de police pour le plan détaillé */
        li.plandet {font-size: 2vw;}
        /* taille de police pour les liens chapitre précédent et suivant */
        a.prec, a.suiv {font-size: 3vw;}
        
        /* a.grostitre{color:blue;} */
    }
    @media (min-device-width: 781px) and (max-device-width:979px) {
        /* pour que le contenu se redimensionne à la taille de l'écran */
        #wrap{width: auto}
        #container_main_sidebar{width: auto}
        .main{width: auto; background: #FFFFFF}
        .backgrounds{width: auto}
        /* on n'affiche plus le menu de droite avec le plan */
        .sidebar {display:none;}
        /* pour que les images se redimensionnent à la taille de l'écran */
        img {max-width: 100% !important; height: auto;}
        /* les icônes des outils ne doivent pas se redimensionner */
        img.icone {width: 30px !important;}
        img.iconemid {width: 30px !important;}
        /* l'icône creative commons du pied de page ne doit pas se redimmensionner */
        #footer img{ width: 80px !important}
        /* tailles de police pour le titre */
        a.grostitre {font-size: 3vw;}
        /* taille de police pour le menu horizontal */
        #nav li a{font-size: 2vw;}        
        
        /* a.grostitre{color:red;} */
    }
